# This is a global gitignore file, containing useful ignore rules for many
# operating systems and text editors. This gitignore does not ignore files for
# any specific programming languages.

# You may need to manually add this file to your global gitconfig so git knows
# to use it for any repository:
# git config --global core.excludesfile ~/.gitignore

# More information: http://help.github.com/git-ignore/

# Linux files
!.gitignore
*~

# OS X files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# SublimeText project files
*.sublime-workspace

# TextMate files
*.tmproj
*.tmproject
tmtags

# Eclipse files
.classpath
.project
.settings
bin/**

# Intellij files
*.iml
*.ipr
*.iws
.idea/
*.eml
.idea
/out

# Emacs files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode files
.org-id-locations
*_archive
